<h1 style='text-align: center;'>Movies</h1>
{{#each movies}}
  <div>
    <h3>
      {{title}}
    </h3>

    <p>Cast -{{cast}}</p>
    <p>Plot -{{plot}}</p>
    <p>Genre-{{genre}}</p>
  </div>
{{/each}}

<a href='/'>Back</a>